<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/LOGOFINAL.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/header.css">
    <title>Nosotros</title>

</head>

<body>

    <header>
        <div class="header-linea">
            <img class="logo" src="../img/LOGOFINAL.PNG" alt="">
        </div>

        <!-- Menú de navegación -->
        <nav class="header-linea">
            <a class="menu" href="../index.html">Inicio</a>
            <a class="menu" href="Nosotros.html">Nosotros</a>
            <a class="menu" href="Servicios.html">Servicios</a>
            <a class="menu" href="Contacto.html">Contacto</a>
        </nav>
    </header>

    <main>
        <section id="s2">
            <h1>Nosotros</h1>
            <p>INFORMATICA NEXT tiene el firme propósito de proveer soluciones tecnológicas de excelencia que cumplan con las más altas exigencias
                del mundo corporativo actual, orientadas al rápido retorno de las inversiones. Las soluciones y servicios que INFORMATICA NEXT 
                ofrece, están destinados a satisfacer las necesidades de grandes organizaciones, dentro del mercado internacional, 
                que por la complejidad de sus diversos procesos de negocio, requieren de un socio estratégico con el que puedan contar y que, 
                a la vez esté especializado y capacitado en las tecnologías de la información.</p>
            </section>
            <section id="s2">
                <h1>Mision</h1>
                <p>El mundo corporativo actual, se encuentra inmerso en un modelo cada vez más globalizado. La gran competencia y el dinamismo
                     que lo caracterizan, demandan cambios que afectan directamente las operaciones de las empresas. El desarrollo de nuevas 
                     tecnologías es una constante que permite a las organizaciones mantener una posición competitiva dentro de los mercados.</p>
            </section>
            <section id="s2">
                <h1>Vision</h1>
                <p>Todas las decisiones y estrategias de negocio de INFORMATICA NEXT están guiadas por el compromiso de brindar a nuestros 
                    clientes respuestas inmediatas frente a una amplia gama de problemáticas. De esta manera, pretendemos transformar sus 
                    necesidades en resultados que mejoren los procesos de su negocio, siempre con los más altos estándares de calidad.</p>
            </section>

    </main>

    <!-- Pie de página -->
    <footer>
        <h3 class="texto-pie">INFORMATICA NEXT</h3>
        <i class="fa-brands fa-square-facebook" style="font-size: 5vw;"></i>  
        <i class="fa-brands fa-twitter" style="font-size: 5vw;"></i>
        <!-- ICONO DE FLATICON -->
        <img src="img/instagram (1).png" alt="" style="width: 5vw;">
    </footer>
    <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>

</body>

</html>