<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/LOGOFINAL.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/grid-servicios.css">
    <title>SERVICIOS</title>
</head>
<body>
    
    <header>

        <div>
            <img class="logo" src="../img/LOGOFINAL.PNG" alt="">
        </div>
        <!-- Menú de navegación -->
        <nav class="header-linea">
            <a class="menu" href="../index.html">Inicio</a>
            <a class="menu" href="Nosotros.html">Nosotros</a>
            <a class="menu" href="Servicios.html">Servicios</a>
            <a class="menu" href="Contacto.html">Contacto</a>
        </nav>
        
    </header> 

    <main>

        <section class="s1">

            <div class="card">
                <img src="../img/Consultoria.jpg" alt="Imagen">
                <h3>Consultoria</h3>
                <p>Lo ayudamos a encontrar soluciones tecnológicas para sus necesidades.</p>
                <a class="hipervinculo" href="../img/Consultoria.jpg" target="_blank">Ver imagen en otra ventana</a>
                <a class="hipervinculo" href="../img/Consultoria.jpg" download>Descargar imagen</a>
            </div>

            <div class="card">
                <img src="../img/Soporte.jpg" alt="Imagen">
                <h3>Mantenimiento&Soporte</h3>
                <p>Soluciones de servicios de soporte que ayuden a la continuidad de su negocio.</p>
                <a class="hipervinculo" href="../img/Soporte.jpg" target="_blank">Ver imagen en otra ventana</a>
                <a class="hipervinculo" href="../img/Soporte.jpg" download>Descargar imagen</a>
            </div>


            <div class="card">
                <img src="../img/Nube.jpg" alt="Imagen">
                <h3>Servicios en la Nube</h3>
                <p>Hospedaje de páginas Web, Servicios de Correo Electrónico, Servidores Dedicados.</p>
                <a class="hipervinculo" href="../img/Nube.jpg" target="_blank">Ver imagen en otra ventana</a>
                <a class="hipervinculo" href="../img/Nube.jpg" download>Descargar imagen</a>
            </div>


            <div class="card">
                <img src="../img/Web1.jpg" alt="Imagen">
                <h3>Diseño Web</h3>
                <p>Creamos o renovamos su página Web.</p>
                <a class="hipervinculo" href="../img/Web1.jpg" target="_blank">Ver imagen en otra ventana</a>
                <a class="hipervinculo" href="../img/Web1.jpg" download>Descargar imagen</a>
            </div>
        </section>

    </main>

    <!-- Pie de página -->
    <footer>
        <h3 class="texto-pie">INFORMATICA NEXT</h3>
        <i class="fa-brands fa-square-facebook" style="font-size: 5vw;"></i>  
        <i class="fa-brands fa-twitter" style="font-size: 5vw;"></i>
        <!-- ICONO DE FLATICON -->
        <img src="img/instagram (1).png" alt="" style="width: 5vw;">
    </footer>
    <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>



</body>
</html>